.js--wp-1,
.js--wp-2,
.js--wp-3 {
  opacity: 0;
  -webkit-animation-duration: 1s;
  animation-duration: 1s; }

.js--wp-1.animated,
.js--wp-2.animated,
.js--wp-3.animated {
  opacity: 1; }

.js--wp-4 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s; }

.btn:link, .btn:visited {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
  transition: background-color 0.2s, border 0.2s, color 0.2s; }
.btn:hover, .btn:active {
  background-color: #cf6d17; }

.btn-full:link, .btn-full:visited {
  background-color: #e67e22;
  border: 1px solid #e67e22;
  color: #fff;
  margin-right: 15px; }
.btn-full:hover, .btn-full:active {
  border: 1px solid #cf6d17;
  background-color: #cf6d17; }

.btn-ghost:link, .btn-ghost:visited {
  border: 1px solid #e67e22;
  color: #e67e22; }
.btn-ghost:hover, .btn-ghost:active {
  border: 1px solid #cf6d17;
  color: #fff; }

input[type=submit] {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
  background-color: #e67e22;
  border: 1px solid #e67e22;
  color: #fff;
  margin-right: 15px; }
  input[type=submit]:hover {
    cursor: pointer;
    background-color: #cf6d17; }
  input[type=submit]:active {
    background-color: #cf6d17; }

.box img {
  width: 100%;
  height: auto;
  margin-bottom: 15px; }

.city-feature {
  margin-bottom: 5px; }
  .city-feature a:link, .city-feature a:visited {
    color: #e67e22;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #e67e22;
    -webkit-transition: border-bottom 0.2s, color 0.2s;
    transition: border-bottom 0.2s, color 0.2s; }
  .city-feature a:hover, .city-feature a:active {
    color: #555;
    border-bottom: 1px solid transparent; }

footer {
  background-color: #333;
  padding: 50px; }
  footer .footer-nav {
    list-style: none;
    float: left; }
    footer .footer-nav li {
      display: inline-block;
      margin-right: 20px; }
      footer .footer-nav li:last-child {
        margin-right: 0; }
      footer .footer-nav li a:link, footer .footer-nav li a:visited {
        text-decoration: none;
        border: 0;
        color: #888;
        font-size: 110%;
        font-weight: 400;
        -webkit-transition: color 0.2s;
        transition: color 0.2s; }
      footer .footer-nav li a:hover, footer .footer-nav li a:active {
        color: #ddd; }
  footer .social-links {
    list-style: none;
    float: right; }
    footer .social-links li {
      display: inline-block;
      margin-right: 20px; }
      footer .social-links li:last-child {
        margin-right: 0; }
      footer .social-links li a:link, footer .social-links li a:visited {
        text-decoration: none;
        border: 0;
        color: #888;
        font-size: 110%;
        font-weight: 400;
        -webkit-transition: color 0.2s;
        transition: color 0.2s; }
      footer .social-links li a #footer-facebook-logo {
        -webkit-transition: color 0.2s;
        transition: color 0.2s; }
        footer .social-links li a #footer-facebook-logo:hover {
          color: #3b5998; }
      footer .social-links li a #footer-google-plus-logo {
        -webkit-transition: color 0.2s;
        transition: color 0.2s; }
        footer .social-links li a #footer-google-plus-logo:hover {
          color: #dd4b39; }
      footer .social-links li a #footer-twitter-logo {
        -webkit-transition: color 0.2s;
        transition: color 0.2s; }
        footer .social-links li a #footer-twitter-logo:hover {
          color: #00aced; }
      footer .social-links li a #footer-instagram-logo {
        -webkit-transition: color 0.2s;
        transition: color 0.2s; }
        footer .social-links li a #footer-instagram-logo:hover {
          color: #517fa4; }

.contact-form {
  width: 60%;
  margin: 0 auto; }
  .contact-form input[type=text],
  .contact-form input[type=email],
  .contact-form select,
  .contact-form textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc; }
  .contact-form [placeholder]:focus::-webkit-input-placeholder {
    -webkit-transition: opacity 0.1s 0.1s ease;
    transition: opacity 0.1s 0.1s ease;
    opacity: 0; }
  .contact-form textarea {
    height: 100px; }
  .contact-form input[type=checkbox] {
    margin: 10px 5px 10px 0; }

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/hero.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh; }
  header nav .logo, header nav .logo-black {
    width: auto;
    float: left;
    height: 100px;
    margin-top: 20px; }
  header nav .logo-black {
    display: none;
    height: 50px;
    margin: 5px 0; }
  header nav .main-nav {
    float: right;
    list-style: none;
    margin-top: 55px; }
    header nav .main-nav li {
      display: inline-block;
      margin-left: 40px; }
      header nav .main-nav li a:link, header nav .main-nav li a:visited {
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 90%;
        border-bottom: 2px solid transparent;
        transition: border-bottom 0.2s;
        padding: 8px 0; }
      header nav .main-nav li a:hover, header nav .main-nav li a:active {
        border-bottom: 2px solid #e67e22; }
  header nav .mobile-nav-icon {
    display: none;
    float: right;
    margin-top: 30px;
    cursor: pointer; }
    header nav .mobile-nav-icon i {
      font-size: 200%;
      color: #fff; }
  header .hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

h1 {
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 240%;
  word-spacing: 4px;
  letter-spacing: 1px;
  line-height: 1.2; }

h2 {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px; }
  h2:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px; }

h3 {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 110%;
  margin-bottom: 15px; }

.section-steps {
  background-color: #f4f4f4; }
  .section-steps .steps-box:first-child {
    text-align: right;
    padding-right: 3%;
    margin-top: 30px; }
  .section-steps .steps-box:last-child {
    padding-left: 3%;
    margin-top: 70px; }
  .section-steps .steps-box .app-screen {
    width: 40%; }
  .section-steps .steps-box .works-step {
    margin-bottom: 50px; }
    .section-steps .steps-box .works-step:last-of-type {
      margin-bottom: 80px; }
    .section-steps .steps-box .works-step .step-number {
      color: #e67e22;
      border: 2px solid #e67e22;
      border-radius: 50%;
      height: 55px;
      width: 55px;
      text-align: center;
      padding: 5px;
      float: left;
      font-size: 150%;
      margin-right: 25px; }
  .section-steps .steps-box .btn-app img {
    height: 50px;
    width: auto;
    margin-right: 10px; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  background-color: #fff;
  color: #555;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden; }

.row {
  max-width: 1140px;
  margin: 0 auto; }

section {
  padding: 80px 0; }

.box {
  padding: 1%; }

.clearfix {
  zoom: 1; }
  .clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden; }

.company-intro {
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
  margin-bottom: 35px; }

.box p {
  font-size: 90%;
  line-height: 145%; }

.section-features i {
  display: block;
  font-size: 250%;
  color: #e67e22;
  margin-bottom: 30px; }

.city-feature i {
  display: inline-block;
  width: 30px;
  text-align: center;
  color: #e67e22;
  margin-right: 10px;
  /* align text and icons */
  line-height: 120%;
  vertical-align: middle;
  margin-top: -5px; }

.section-meals {
  padding: 0; }
  .section-meals .meals-showcase {
    list-style: none;
    width: 100%; }
    .section-meals .meals-showcase li {
      display: block;
      float: left;
      width: 25%; }
    .section-meals .meals-showcase .meal-photo {
      width: 100%;
      margin: 0;
      overflow: hidden;
      background-color: #000; }
      .section-meals .meals-showcase .meal-photo img {
        width: 100%;
        height: auto;
        transform: scale(1.15);
        transition: transform 0.5s, opacity 0.5s;
        opacity: 0.7; }
        .section-meals .meals-showcase .meal-photo img:hover {
          transform: scale(1.03);
          opacity: 1; }

.section-plans {
  background-color: #f4f4f4; }
  .section-plans .plan-box {
    background-color: #fff;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
    -webkit-box-shadow: 0 2px 2px #efefef;
    box-shadow: 0 2px 2px #efefef; }
    .section-plans .plan-box ul {
      list-style: none; }
      .section-plans .plan-box ul li {
        padding: 5px 0; }
    .section-plans .plan-box .plan-box-content {
      padding: 15px;
      border-bottom: 1px solid #e8e8e8; }
      .section-plans .plan-box .plan-box-content:first-child {
        background-color: #fcfcfc;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px; }
      .section-plans .plan-box .plan-box-content:last-child {
        text-align: center;
        border: 0; }
      .section-plans .plan-box .plan-box-content i {
        color: #e67e22;
        margin-right: 10px; }
      .section-plans .plan-box .plan-box-content .plan-price {
        font-size: 300%;
        margin-bottom: 10px;
        font-weight: 300;
        color: #e67e22; }
        .section-plans .plan-box .plan-box-content .plan-price span {
          font-size: 40%;
          font-weight: 700; }
      .section-plans .plan-box .plan-box-content .plan-price-meal {
        font-size: 80%; }

@media only screen and (max-width: 1200px) {
  header .hero-text-box {
    width: 100%;
    padding: 0 2%; }

  .row {
    padding: 0 2%; } }
@media only screen and (max-width: 1023px) {
  body {
    font-size: 18px; }

  section {
    padding: 60px 0; }

  .company-intro {
    width: 80%;
    margin-left: 10%; }

  .steps-box {
    margin-top: 10px; }
    .steps-box:last-child {
      margin-top: 10px; }

  .works-steps {
    margin-bottom: 40px; }
    .works-steps:last-of-type {
      margin-bottom: 60px; }

  .app-screen {
    width: 50%; }

  .city-feature {
    font-size: 90%; }
    .city-feature i {
      width: 17px;
      margin-right: 10px; }

  .plan-box {
    width: 100%;
    margin-left: 0%; }

  .plan-price {
    font-size: 250%; }

  .contact-form {
    width: 80%; } }
@media only screen and (max-width: 767px) {
  body {
    font-size: 16px; }

  section {
    padding: 30px 0; }

  .row,
  header .hero-text-box {
    width: 100%;
    padding: 0 4%; }

  .col {
    width: 100%;
    margin: 0 0 4% 0; }

  .row .main-nav {
    display: none;
    float: left;
    margin-top: 35px;
    margin-left: 25px; }
    .row .main-nav li {
      display: block; }
      .row .main-nav li a:link, .row .main-nav li a:visited {
        display: block;
        border: 0;
        padding: 10px 0;
        font-size: 100%; }
  .row .mobile-nav-icon {
    display: inline-block; }

  .sticky .main-nav {
    margin-top: 10px; }
    .sticky .main-nav li a:link, .sticky .main-nav li a:visited {
      padding: 10px 0; }
  .sticky .mobile-nav-icon {
    margin-top: 10px; }
    .sticky .mobile-nav-icon i {
      color: #555; }

  header .hero-text-box h1 {
    font-size: 180%; }

  h2 {
    font-size: 150%; }

  .company-intro {
    width: 100%;
    margin-left: 0%; }

  .works-step,
  .works-step:last-of-type {
    margin-bottom: 20px; }

  .step-number {
    height: 40px;
    width: 40px;
    margin-right: 15px;
    padding: 4px;
    font-size: 120%; }

  .row .steps-box:first-child {
    text-align: center; }

  .app-screen {
    width: 40%; } }
@media only screen and (max-width: 480px) {
  section {
    padding: 25px 0; }

  .contact-form {
    width: 100%; } }
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.98);
  box-shadow: 0 2px 2px #efefef;
  z-index: 9999; }
  .sticky .main-nav {
    margin-top: 18px; }
    .sticky .main-nav li a:link, .sticky .main-nav li a:visited {
      padding: 16px 0;
      color: #555; }

.sticky .logo-black {
  display: block; }

.sticky .logo-black:hover {
  cursor: pointer; }

.sticky .logo, .sticky header nav .logo-black, header nav .sticky .logo-black {
  display: none; }

.section-testimonials {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url(../img/back-customers.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/back-customers.jpg);
  background-size: cover;
  color: #fff;
  background-attachment: fixed; }
  .section-testimonials blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px;
    margin-bottom: 15px; }
    .section-testimonials blockquote:before {
      display: block;
      content: "\201C";
      font-size: 500%;
      position: absolute;
      top: -5px;
      left: -5px; }
  .section-testimonials cite {
    font-size: 90%;
    margin-top: 25px; }
    .section-testimonials cite img {
      height: 45px;
      border-radius: 50%;
      margin-right: 10px;
      vertical-align: middle; }

