@mixin animation-duration {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

@mixin footer-color-transition {
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

@mixin heading-tag-styles {
    font-weight: 300;
    text-transform: uppercase;
}

@mixin footer-link-styles {
    text-decoration: none;
    border: 0;
    color: #888;
    font-size: 110%;
    font-weight: 400;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

@mixin button-styles {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}