@media only screen and (max-width: 1200px) {
    header {
        .hero-text-box {
            width: 100%;
            padding: 0 2%;
        }
    }

    .row {
        padding: 0 2%;
    }
}

@media only screen and (max-width: 1023px) {
    body {
        font-size: 18px;
    }

    section {
        padding: 60px 0;
    }

    .company-intro {
        width: 80%;
        margin-left: 10%;
    }

    .steps-box {
        margin-top: 10px;

        &:last-child {
            margin-top: 10px;
        }
    }

    .works-steps {
        margin-bottom: 40px;

        &:last-of-type {
            margin-bottom: 60px;
        }
    }

    .app-screen {
        width: 50%;
    }

    .city-feature {
        font-size: 90%;

        i {
            width: 17px;
            margin-right: 10px;
        }
    }

    .plan-box {
        width: 100%;
        margin-left: 0%;
    }

    .plan-price {
        font-size: 250%;
    }

    .contact-form {
        width: 80%;
    }
}

@media only screen and (max-width: 767px) {
    body {
        font-size: 16px;
    }

    section {
        padding: 30px 0;
    }

    .row,
    header .hero-text-box {
        width: 100%;
        padding: 0 4%;
    }

    .col {
        width: 100%;
        margin: 0 0 4% 0;
    }

    .row {
        .main-nav {
            display: none;
            float: left;
            margin-top: 35px;
            margin-left: 25px;

            li {
                display: block;

                a {

                    &:link,
                    &:visited {
                        display: block;
                        border: 0;
                        padding: 10px 0;
                        font-size: 100%;
                    }
                }
            }
        }

        .mobile-nav-icon {
            display: inline-block;
        }
    }

    .sticky {
        .main-nav {
            margin-top: 10px;

            li {
                a {

                    &:link,
                    &:visited {
                        padding: 10px 0;
                    }
                }
            }
        }

        .mobile-nav-icon {
            margin-top: 10px;

            i {
                color: #555;
            }
        }
    }

    header .hero-text-box h1 {
        font-size: 180%;
    }

    h2 {
        font-size: 150%;
    }

    .company-intro {
        width: 100%;
        margin-left: 0%;
    }

    .works-step,
    .works-step:last-of-type {
        margin-bottom: 20px;
    }

    .step-number {
        height: 40px;
        width: 40px;
        margin-right: 15px;
        padding: 4px;
        font-size: 120%;
    }

    .row .steps-box:first-child {
        text-align: center;
    }

    .app-screen {
        width: 40%;
    }
}

@media only screen and (max-width: 480px) {
    section {
        padding: 25px 0;
    }

    .contact-form {
        width: 100%;
    }
}